# Compiled Packer
.config/nvim/plugin/packer_compiled.lua
.config/packer/checkpoint_cache
.config/packer/checkpoint_signature

# Tmux plugins
.config/tmux/plugins/**

.config/herdr/herdr-client.log
.config/herdr/herdr-server.log
.config/herdr/session.json
