# Compiled Packer
.config/nvim/plugin/packer_compiled.lua
.config/packer/checkpoint_cache
.config/packer/checkpoint_signature

# Tmux plugins
.config/tmux/plugins/**
.config/herdr/release-notes.json

.config/herdr/herdr-client.log
.config/herdr/herdr-server.log
.config/herdr/session.json

.config/.DS_Store
.config/herdr/.plugins.lock
.config/opencode/service.json
